<div class="container">
 <div class="form-box">

    <!--#frm é o nome da variável, ngForm é o TIPO, identificando frm como um formulário do Angular regido pelo import FormsModule,
    acessando essa variável "frm. " você pode acessar as propriedades do formulário, como frm.value.numero1 -->
    <form #frm="ngForm">
        <div>
            
            <h2>Calculadora</h2>
            <label for="numero1"> Numero 1</label>
            <input type="number" name="numero1" id="numero1" [(ngModel)]="numero1" placeholder="Digite um número" />
            
            <label for="numero2"> Numero 2</label>
            <input type="number" name="numero2" id="numero2" [(ngModel)]="numero2" placeholder="Digite outro número" />
        </div>
        <button type="button" (click)="calcResult()">Calcular</button>
    </form>
    <div class="result-display">
       <h4>Resultado: {{ resultado }}</h4>
    </div>
 </div>
</div>