<div class="word-card-container">
    <mat-card class="center-card">
        <div class="word-header">
            <h2>{{ word }}</h2>
        </div>
        <div class="button-grid">
            <div class="button-row" *ngFor="let row of [0,1,2]; index as i">
                <button mat-raised-button
                        [class]="selected ? (buttons[row * 2 ]?.isCorrect ? 'option-btn success' : 'option-btn warn') : 'option-btn'"
                       
                       
                       (click)="selectOption(row * 2)">
                    {{ buttons[row * 2]?.label }}
                </button>
                <button mat-raised-button
                        [class]="selected ? (buttons[row * 2 + 1]?.isCorrect ? 'option-btn success' : 'option-btn warn') : 'option-btn'"
                       
                    (click)="selectOption(row * 2 + 1)">
                    {{ buttons[row * 2 + 1]?.label }}
                </button>
            </div>
        </div>
        <div class="next-btn-container" style="text-align:center; margin-top: 16px;">
            <button mat-stroked-button color="primary" (click)="next.emit()">Next</button>
        </div>
    </mat-card>
</div>